body{
 background-color: #212121;
}
button{
    margin-left: 11rem;
    margin-top: 1rem;
    background-color: blueviolet;
    padding: 1rem 2rem ;
    border-radius: 2rem;

}
#bg{
    background-color:rgb(207, 173, 131);
    width: fit-content;
    padding: 12rem 2rem;
    border-radius: 1rem;
    max-height: fit-content;
   
}
#heading{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 15rem 5rem;
}

form{
    margin-left: 12rem;
    margin-top: 15rem;
}
#removebtn{
    margin-left: 0rem;
}